@import url(https://fonts.googleapis.com/css?family=Archivo+Black);

body {
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 50%, rgba(197,217, 224, 1) 100%);
}

.main {
    text-align: center;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-image: linear-gradient(150deg, rgba(155, 93, 229, 1) 0%, rgba(241, 91, 181, 1) 20%, rgba(254, 228, 64, 1) 40%, rgba(0, 187, 249, 1) 60%, rgba(0, 245, 212, 1) 80%) 10% 30%;
}